.scrolls {
  overflow-y: scroll;

  height: 300px;
  margin-bottom: 40px;
}

.nav-icon {
  display: inline-block;
  margin: 0px 5px;
}

.nav {
  display: inline-block;
  float: right;
}

.currentEvent {
  background-color: oldlace;
}

.event-list {
  height: 400px;
  overflow: hidden;
}
