.scrolls {
  overflow: auto;
  height: 75vh;
  margin-bottom: 40px;
}

.nav-icon {
  display: inline-block;
  margin: 0px 5px;
}

.nav {
  display: inline-block;

  float: right;
}

.currentEvent {
  background-color: oldlace;
}
